@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactsBlock {
  min-height: 500px;
  background-color: $bgSecondColor;
  display: flex;
  align-items: center;

  .container {
    border: 1px solid;
    height: 80%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form {
      margin-top: 30px;
      border: 1px solid;
      display: flex;
      width: 90%;
      flex-direction: column;

      .name {
        display: flex;
        justify-content: center;
        width: 100%;

        .inputName {
          @include text($descriptionFontFamily, 12px, 1.5);
          background: $bgColor;
          border: 1px solid #4a4a4a;
          padding: 0 15px;
          border-radius: 0;
          box-shadow: none;
          width: 510px;
          height: 32px;
          font-weight: 400;
          color: #495057;
          overflow: visible;
          outline: none;
        }
      }

      .email {
        display: flex;
        justify-content: center;
        width: 100%;

        .inputEmail {
          @include text($descriptionFontFamily, 12px, 1.5);
          background: $bgColor;
          border: 1px solid #4a4a4a;
          padding: 0 15px;
          border-radius: 0;
          margin-top: 10px;
          box-shadow: none;
          width: 510px;
          height: 32px;
          font-weight: 400;
          color: #495057;
          overflow: visible;
          outline: none;
        }
      }

      .message {
        display: flex;
        justify-content: center;
        width: 100%;

        .textMessage {
          @include text($descriptionFontFamily, 12px, 1.5);
          padding: 15px;
          background: $bgColor;
          border: 1px solid #4a4a4a;
          border-radius: 0;
          margin-top: 10px;
          box-shadow: none;
          width: 510px;
          height: 158px;
          font-weight: 400;
          color: #495057;
          overflow: auto;
          resize: vertical;
          outline: none;
        }
      }
    }

    .button {
      cursor: pointer;
      @include text($descriptionFontFamily, 14px, 1.2);
      text-transform: uppercase;
      max-width: 170px;
      margin: 15px auto;
      z-index: 22;
      width: 100%;
      border: 0;
      background: transparent;
      position: relative;
      outline: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 10px;
        width: 50%;
        background: $primaryColor;
        z-index: -1;
        margin: 0 auto;
      }
    }
  }
}



