@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.nav {
  border: 1px solid;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;

  a {
    @include text($descriptionFontFamily, 14px, 1.8);
    text-decoration: none;
  }
}
