@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  @media screen and (max-width: 380px) {
    margin-right: 0;
    justify-content: space-around;
  }

  a {
    @include text($descriptionFontFamily, 14px, 1.8);
    text-decoration: none;
  }
}
