@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  @media screen and (max-width: 380px) {
    margin-right: 0;
    justify-content: space-around;
  }

  a {
    @include text($descriptionFontFamily, 16px, 1.8);
    text-decoration: none;
    position: relative;
    cursor: pointer;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4px;
      width: 40%;
      height: 3px;
      background: $primaryColor;
      transition: all 0.2s ease-in-out 0s;
      z-index: -1;
      margin: 0 auto;
    }

    &:hover::after {
      width: 100%;
    }
  }
}