@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 36px, 1.2);
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 60px;
    height: 2px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%)
  }
}