.skillsBlock {
    min-height: 100vh;
    background-color: #3f3e40;
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid;
    height: 80%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    background-color: rosybrown;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}