@import "src/common/styles/sass/variables.scss";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;
  display: flex;
  align-items: center;

  .container {
    border: 1px solid;
    height: 80%;
    width: 70%;
    margin: 30px auto 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .skills {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
        align-items: flex-start;
      flex-wrap: wrap;
      @media screen and (max-width: 1500px) {
        justify-content: center;
      }
    }
  }
}
