.mainBlock {
    min-height: 100vh;
    background-color: dimgray;
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid;
    height: 80%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutMe {
    width: 300px;
    background-color: rosybrown;
}

.photo {
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-color: cornflowerblue;
    background-image: url("https://i.guim.co.uk/img/media/3aab8a0699616ac94346c05f667b40844e46322f/0_123_5616_3432/master/5616.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=cdfeb9fcf58f8dd0d5dcb70ec4fb6673");
    background-size: cover;
    background-position: center;
}