@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;
  display: flex;
  z-index: 2;
  align-items: center;
  position: relative;

  .container {
    border: 1px solid;
    height: 80%;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .aboutMe {
      width: 700px;

      .greeting {
        @include text($descriptionFontFamily, 14px, 1.8)
      }

      h1 {
        @include text($titleFontFamily, 50px, 1.2);
        font-weight: 700;
        margin: 0;
        padding: 10px 0 10px;
        letter-spacing: 5px;

        span {
          position: relative;
          display: inline-block;
          box-sizing: border-box;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            height: 20px;
            width: 100%;
            background: $primaryColor;
          }
        }
      }

      p {
        @include text($descriptionFontFamily, 27px, 1.8);
        font-weight: 400;
        margin: 0;
      }
    }

    .photo {
      width: 400px;
      height: 500px;
      background-color: cornflowerblue;
      background-image: url("https://i1.sndcdn.com/artworks-000420504324-qbn3os-t500x500.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}





