@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.projectBlock {
  width: 540px;
  background-color: #111418;
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  .image {
    min-height: 260px;
    max-width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
    }

    .button {
      background-color: #c8c8c8;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: $primaryColor;
      font-family: 'Josefin Sans', sans-serif;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.2s ease-in-out 0s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 17px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
      align-items: flex-start;
      font-weight: 700;
    }

    .description {
      @include text($descriptionFontFamily, 14px, 1.8);
      font-weight: 400;
    }
  }
}





