$textColor: #fff;
$primaryColor: #14995d;
$bgColor: #212529;
$bgSecondColor: #393e41;
$textBackgroundColor: #111418;
$titleFontFamily: 'Josefin Sans', sans-serif;
$descriptionFontFamily: 'Poppins', sans-serif;