$textColor: #fff;
$primaryColor: #fd7e14;
$bgColor: #212529;
$bgSecondColor: #343a40;
$textBackgroundColor: #111418;
$titleFontFamily: 'Josefin Sans', sans-serif;
$descriptionFontFamily: 'Poppins', sans-serif;